#!/usr/bin/make -f

export CARGO_HOME := $(CURDIR)/src/.cargo

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	cd src && \
	export VERGEN_GIT_SHA="$$DEF_COMMIT_SHA" && \
	export VERGEN_GIT_DESCRIBE="v$$DEF_VERSION" && \
	export VERGEN_GIT_COMMIT_TIMESTAMP="$$(git show -s --format=%cI HEAD)" && \
	cargo build --release -p meilisearch -p meilitool

override_dh_auto_install:
	install -D -m 0755 src/target/release/meilisearch debian/tmp/usr/bin/meilisearch
	install -D -m 0755 src/target/release/meilitool debian/tmp/usr/bin/meilitool

override_dh_auto_test:

override_dh_auto_clean:
	-[ -d src/target ] && cd src && cargo clean
