#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
	npm install -g yarn && yarn install --frozen-lockfile && yarn run build-dist

override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib/nodejs/yarn
	cp -R dist/* debian/tmp/usr/lib/nodejs/yarn/
	# Remove Windows-specific files
	rm -f debian/tmp/usr/lib/nodejs/yarn/bin/*.cmd
	mkdir -p debian/tmp/usr/bin
	ln -s /usr/lib/nodejs/yarn/bin/yarn debian/tmp/usr/bin/yarn
	ln -s /usr/lib/nodejs/yarn/bin/yarn debian/tmp/usr/bin/yarnpkg

override_dh_fixperms:
	dh_fixperms \
		--exclude yarn.js \
		--exclude yarnpkg.js

override_dh_auto_test:
override_dh_auto_clean:
