#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
	cd corepack-src && corepack enable && yarn install && yarn build

override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib/nodejs/corepack
	cp -a corepack-src/dist debian/tmp/usr/lib/nodejs/corepack/dist
	cp -a corepack-src/shims debian/tmp/usr/lib/nodejs/corepack/shims
	cp corepack-src/package.json debian/tmp/usr/lib/nodejs/corepack/package.json
	# Remove Windows-specific files
	rm -f debian/tmp/usr/lib/nodejs/corepack/shims/*.cmd
	rm -f debian/tmp/usr/lib/nodejs/corepack/shims/*.ps1
	rm -rf debian/tmp/usr/lib/nodejs/corepack/shims/nodewin

override_dh_fixperms:
	dh_fixperms \
		--exclude corepack.js \
		--exclude npm.js \
		--exclude npx.js \
		--exclude pnpm.js \
		--exclude pnpx.js \
		--exclude yarn.js \
		--exclude yarnpkg.js

override_dh_auto_test:
override_dh_auto_clean:
