#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	./x.py build --stage 1
	./x.py build --stage 2

override_dh_auto_install:
	DESTDIR="$$(pwd)/debian/tmp" ./x.py install
	rm -rf \
		debian/tmp/usr/share/doc \
		debian/tmp/usr/share/man \
		debian/tmp/etc \
		debian/tmp/usr/bin/rust-gdb \
		debian/tmp/usr/bin/rust-gdbgui \
		debian/tmp/usr/bin/rust-lldb \
		debian/tmp/usr/lib/rustlib/etc \
		debian/tmp/usr/lib/rustlib/components
	rm -f \
		debian/tmp/usr/lib/rustlib/manifest-* \
		debian/tmp/usr/lib/rustlib/install.log \
		debian/tmp/usr/lib/rustlib/uninstall.sh \
		debian/tmp/usr/lib/rustlib/rust-installer-version

override_dh_auto_test:

override_dh_auto_clean:

# rustc ships large binaries with pre-compressed debug sections; dwz fails on arm64.
override_dh_dwz:
