Source: percona-server
Section: database
Priority: optional
Maintainer: Docker Hardened Images <dhi@docker.com>
Build-Depends: debhelper-compat (= 13),
 bison,
 cmake,
 build-essential,
 libaio-dev,
 libcurl4-openssl-dev,
 libicu-dev,
 liblz4-dev,
 libncurses-dev,
 libprotobuf-dev,
 libprotoc-dev,
 libssl-dev,
 libtirpc-dev,
 libzstd-dev,
 pkg-config,
 protobuf-compiler,
 python3,
 zlib1g-dev
Standards-Version: 4.7.0
Homepage: https://www.percona.com/software/mysql-database/percona-server

Package: percona-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Percona Server for MySQL
 Percona Server is a drop-in replacement for MySQL providing enhanced
 performance, scalability, and instrumentation. It is binary-compatible
 with MySQL 8.4. This build ships the InnoDB storage engine and Percona's
 server extensions; MyRocks and NDB Cluster are not included.
