#!/usr/bin/make -f

SFW_ARTIFACT ?= $(firstword $(wildcard $(CURDIR)/../sfw-linux-*))

%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:

override_dh_auto_install:
	install -d debian/tmp/opt/socket/bin
	install -m 0755 "$(SFW_ARTIFACT)" debian/tmp/opt/socket/bin/sfw
	$(CURDIR)/debian/create-aliases.sh debian/tmp/opt/socket/bin
	install -d debian/tmp/opt/docker/config
	printf '%s\n' \
		'environment:' \
		'  PATH: /opt/socket/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' \
		> debian/tmp/opt/docker/config/sfw-ent.yaml

override_dh_strip:
override_dh_auto_test:
override_dh_auto_clean:

# Prebuilt upstream binary; dwz fails on section overlap
override_dh_dwz:
