#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	./x.py build --stage 1
	./x.py build --stage 2 cargo

override_dh_auto_install:
	DESTDIR="$$(pwd)/debian/tmp" ./x.py install cargo
	# Ship only usr/bin/cargo (Alpine's cargo subpackage); drop completions and
	# rust-installer metadata that would trip dh_missing.
	rm -rf \
		debian/tmp/usr/share \
		debian/tmp/etc \
		debian/tmp/usr/lib


override_dh_auto_test:

override_dh_auto_clean:
