#!/usr/bin/make -f

# Payload is pre-built by the definition pipeline into pkg-staging/ (sibling of debian/).
STAGING := $(CURDIR)/pkg-staging
PKG_DIR := usr/lib/langfuse-$(SEMVER_MAJOR_VERSION)

%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_clean:

override_dh_auto_install:
	mkdir -p debian/tmp/$(PKG_DIR)
	cp -a $(STAGING)/. debian/tmp/$(PKG_DIR)/

override_dh_strip:
override_dh_shlibdeps:
override_dh_dwz:
