#!/usr/bin/make -f

export CARGO_HOME := $(CURDIR)/src/.cargo

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	cd src && cargo build --release --locked --bin drbd-reactor && cargo build --release --locked --bin drbd-reactorctl && cargo build --release --locked --bin ocf-rs-wrapper

override_dh_auto_install:
	install -D src/target/release/drbd-reactor debian/tmp/usr/sbin/drbd-reactor
	install -D src/target/release/drbd-reactorctl debian/tmp/usr/sbin/drbd-reactorctl
	install -D src/target/release/ocf-rs-wrapper debian/tmp/usr/libexec/drbd-reactor/ocf-rs-wrapper
	install -D -m 0644 src/example/drbd-reactor.toml debian/tmp/etc/drbd-reactor.toml
	install -d debian/tmp/etc/drbd-reactor.d
	install -D -m 0644 src/example/drbd-reactor.service debian/tmp/lib/systemd/system/drbd-reactor.service
	install -D -m 0644 src/example/ocf.rs@.service debian/tmp/lib/systemd/system/ocf.rs@.service

override_dh_auto_test:

override_dh_auto_clean:
	-[ -d src/target ] && cd src && cargo clean
