Source: drbd-utils
Section: admin
Priority: optional
Maintainer: Docker Hardened Images <dhi@docker.com>
Build-Depends: debhelper-compat (= 13),
 autoconf,
 automake,
 autotools-dev,
 flex,
 libkeyutils-dev,
 libtool,
 pkg-config
Standards-Version: 4.7.0
Homepage: https://github.com/LINBIT/drbd-utils

Package: drbd-utils
Architecture: any
Depends: debconf (>= 0.5),
 mount,
 ${misc:Depends},
 ${shlibs:Depends}
Description: DRBD user space utilities
 DRBD (Distributed Replicated Block Device) user-space tools for managing
 replicated block storage resources: drbdadm, drbdsetup, and drbdmeta.
