Source: httpd
Section: httpd
Priority: optional
Maintainer: Docker Hardened Images <dhi@docker.com>
Build-Depends: debhelper-compat (= 13),
 autoconf,
 automake,
 libbrotli-dev,
 libcurl4-openssl-dev,
 libexpat1-dev,
 liblua5.2-dev,
 libnghttp2-dev,
 libpcre2-dev,
 libssl-dev,
 libtool,
 libxml2-dev,
 python3,
 zlib1g-dev
Standards-Version: 4.7.0
Homepage: https://httpd.apache.org

Package: httpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: apache2, apache2-bin
Conflicts: apache2, apache2-bin
Replaces: apache2, apache2-bin
Description: Apache HTTP Server
 The Apache HTTP Server Project is a collaborative software development effort
 focused on creating a robust, commercial-grade, featureful, and freely-available
 source code implementation of an HTTP (Web) server.
