Source: openresty
Section: httpd
Priority: optional
Maintainer: Docker Hardened Images <dhi@docker.com>
Build-Depends: debhelper-compat (= 13),
 libpcre2-dev,
 libssl-dev,
 perl,
 zlib1g-dev
Standards-Version: 4.7.0
Homepage: https://openresty.org

Package: openresty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dynamic web platform based on NGINX and LuaJIT
 OpenResty is a dynamic web platform based on NGINX and LuaJIT. It extends
 NGINX with Lua scripting and bundles Lua libraries and NGINX modules for
 building high-performance web applications, APIs, and gateways.
