#!/usr/bin/make -f

%:
	dh $@

OPENRESTY_CONFIGURE_ARGS := \
	--prefix=/usr/share/openresty \
	--sbin-path=/usr/sbin/openresty \
	--conf-path=/etc/openresty/nginx.conf \
	--pid-path=/run/openresty.pid \
	--lock-path=/run/openresty.lock \
	--http-log-path=/var/log/openresty/access.log \
	--error-log-path=/var/log/openresty/error.log \
	--http-client-body-temp-path=/var/cache/openresty/client_temp \
	--http-proxy-temp-path=/var/cache/openresty/proxy_temp \
	--http-fastcgi-temp-path=/var/cache/openresty/fastcgi_temp \
	--http-uwsgi-temp-path=/var/cache/openresty/uwsgi_temp \
	--http-scgi-temp-path=/var/cache/openresty/scgi_temp \
	--with-http_auth_request_module \
	--with-http_gzip_static_module \
	--with-http_realip_module \
	--with-http_stub_status_module \
	--with-http_v2_module

override_dh_auto_configure:
	./configure $(OPENRESTY_CONFIGURE_ARGS)

override_dh_auto_build:
	make -j$$(nproc)

override_dh_auto_install:
	make install DESTDIR=$(CURDIR)/debian/tmp

override_dh_auto_test:
