#!/usr/bin/make -f

export CARGO_HOME := $(CURDIR)/src/.cargo

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	cd src && cargo build --release --no-default-features --features default

override_dh_auto_install:
	install -D -m 0755 src/target/release/vector debian/tmp/usr/bin/vector
	install -D -m 0644 src/config/vector.yaml debian/tmp/etc/vector/vector.yaml

override_dh_auto_test:

override_dh_auto_clean:
	-[ -d src/target ] && cd src && cargo clean
