Source: uv
Section: python
Priority: optional
Maintainer: Docker Hardened Images <dhi@docker.com>
Homepage: https://github.com/astral-sh/uv
X-Cargo-Crate: uv
Build-Depends: cargo-1.97, rustc-1.97, cargo-auditable, pkgconf,
               libbz2-dev, liblzma-dev, libzstd-dev,
               help2man, dh-sequence-shell-completions,
               dh-sequence-single-binary, debhelper-compat (= 13)
Standards-Version: 4.7.4

Package: uv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An extremely fast Python package and project manager, written in Rust
 uv is an extremely fast Python package installer and resolver, written in Rust,
 and designed as a drop-in replacement for pip and pip-tools workflows.
