#!/usr/bin/make -f

export PYTHON := /usr/bin/python3.12

%:
	dh $@

override_dh_auto_configure:
	autoreconf -is -Wall,no-override
	./configure \
		--prefix=/usr \
		--sbindir=/usr/lib/frr \
		LDFLAGS="-Wl,-rpath,/usr/lib/frr" \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--with-crypto=openssl \
		--disable-doc \
		--without-libpam \
		--enable-rpki \
		--disable-scripting \
		--enable-pim6d \
		--disable-grpc \
		--disable-address-sanitizer \
		--disable-dependency-tracking \
		--enable-snmp \
		--enable-fpm \
		--disable-protobuf \
		--disable-zeromq \
		--enable-ospfapi \
		--enable-bgp-vnc \
		--enable-multipath=256 \
		--enable-pcre2posix \
		--enable-user=frr \
		--enable-group=frr \
		--enable-vty-group=frrvty \
		--enable-configfile-mask=0640 \
		--enable-logfile-mask=0640

override_dh_auto_build:
	$(MAKE) -j$$(nproc)

override_dh_auto_test:
	$(MAKE) check

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	mkdir -p $(CURDIR)/debian/tmp/etc/frr
	install -m 0644 tools/etc/frr/frr.conf $(CURDIR)/debian/tmp/etc/frr/frr.conf
	install -m 0644 tools/etc/frr/daemons $(CURDIR)/debian/tmp/etc/frr/daemons
	install -m 0644 tools/etc/frr/support_bundle_commands.conf $(CURDIR)/debian/tmp/etc/frr/support_bundle_commands.conf
	install -m 0644 tools/etc/frr/vtysh.conf $(CURDIR)/debian/tmp/etc/frr/vtysh.conf
	install -m 0755 docker/debian/docker-start $(CURDIR)/debian/tmp/usr/bin/docker-start
	rm -rf $(CURDIR)/debian/tmp/usr/include
	rm -rf $(CURDIR)/debian/tmp/usr/lib/pkgconfig
	find $(CURDIR)/debian/tmp/usr/lib -name '*.a' -delete
	find $(CURDIR)/debian/tmp/usr/lib -name '*.la' -delete

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -rf autom4te.cache
