#!/usr/bin/make -f

export GRADLE_VERSION := @VERSION@
export GRADLE_SEMVER_MAJOR := @SEMVER_MAJOR_VERSION@
export JAVA_HOME := /usr/lib/jvm/temurin-@JDK_MAJOR_VERSION@
export PATH := $(JAVA_HOME)/bin:$(PATH)

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
ifeq ($(GRADLE_SEMVER_MAJOR),9)
	rm -f gradle/gradle-daemon-jvm.properties
endif
	./gradlew :distributions-full:binDistributionZip -Pversion=$(GRADLE_VERSION)

override_dh_auto_install:
	rm -rf .dhi-gradle-dist
	mkdir .dhi-gradle-dist
	unzip -q "packaging/distributions-full/build/distributions/gradle-$(GRADLE_VERSION)-bin.zip" -d .dhi-gradle-dist
	install -dm755 debian/tmp/usr/share/java/gradle/bin \
		debian/tmp/usr/share/java/gradle/lib \
		debian/tmp/usr/bin \
		debian/tmp/usr/share/licenses/@PACKAGE_NAME@
	cd .dhi-gradle-dist/$$(ls -1 .dhi-gradle-dist) && \
		rm -f bin/*.bat && \
		install -m755 bin/* "$(CURDIR)/debian/tmp/usr/share/java/gradle/bin/" && \
		cp -a lib "$(CURDIR)/debian/tmp/usr/share/java/gradle/" && \
		for f in LICENSE NOTICE; do install -m644 -D "$$f" "$(CURDIR)/debian/tmp/usr/share/licenses/@PACKAGE_NAME@/$$f"; done
	ln -sf /usr/share/java/gradle/bin/gradle debian/tmp/usr/bin/gradle

override_dh_auto_test:
override_dh_auto_clean:
